body{
    background-image: url("images/background.png");
    margin:0;
    background-attachment: fixed;
    background-position:50% 50%;
    background-size:100%;
}

h1{
    text-align: center;
    color:white;
    text-shadow:0.1em 0.1em 0.4em black;
}

h2{
    color:white;
    text-shadow:0.1em 0.1em 0.4em black;
}
#searchbar{
    margin-left: 25%;
    padding:5px;
    border-radius: 10px;
    width: 50%;
}

input{
    width:70%;
}

#UL{
    margin-left:40%;
    margin-top:3%;
    background-color: white;
}

nav
{
    float: left;
    width: 150px;
    border: 1px solid black;
}

section
{
    margin-left: 20%;
    margin-right: 20%;
    border: 2px solid white;
}


nav{
    float: left;
    width: 15%;
    border: 2px solid white;
}

footer{
    margin-left:20%;
    margin-right:20%;
    border: 1px solid white;
}