<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
</head>
<body>

<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/home">
            <img th:src="@{/logo}" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/home">
                Accueil
            </a>

            <a class="navbar-item">
                Documentation
            </a>
            <a class="navbar-item" th:if="${session.username !=null}">
                Consulter les vols
            </a>


        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary is-outlined is-inverted" href="../Inscription" th:if="${session.username ==null}"> <!-- ne fonctionne pas je ne sais pas pourquoi-->
                        <strong>S'inscrire</strong>
                    </a>
                    <a class="button is-light" href="../Login" th:if="${session.username ==null}"><!-- ne fonctionne pas je ne sais pas pourquoi-->
                        Se connecter
                    </a>
                    <a class="button is-danger" href="../Deconnexion" th:if="${session.username !=null}"><!-- ne fonctionne pas je ne sais pas pourquoi-->
                    Déconnexion
                </a>
                </div>
            </div>
        </div>
    </div>
</nav>



<h1 class="subtitle has-text-centered m-3"> Bienvenue sur la page de connexion, veuillez entrer vos identifiants ci-dessous afin de vous connecter sur notre site : </h1>

<div class="block" th:if="${session.username == null}">
    <div class="box mx-6" >
        <div class="container">
            <form method="POST">
            <div class="rows is-vcentered">
                <div class="row">
                    <h1 class="title">Identifiant</h1>
                    <input class="input is-primary" type="text" placeholder="Identifiant" name="username">
                </div>
                <div class="row">
                    <h1 class="title">Mot de passe</h1>
                    <input class="input is-primary" type="password" placeholder="Mot de passe" name="password">
                </div>
                <div class="row m-3">
                    <button type="submit" class="button is-light">Connexion</button>
                </div>


            </div>
            </form>
        </div>
    </div>
</div>
<div class="box mx-6">
    <div class="block" th:if="${session.username != null}">
        <p class="m-2"> Vous êtes déjà connecté en tant que <p th:text="${session.username}"></p> </p>

    </div>
</div>
</body>
</html>