<!DOCTYPE html>
<html lang="en"/>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Flight tracker</title>
</head>
<body>

    <nav class="navbar is-primary" role="navigation" aria-label="main navigation" >
        <div class="navbar-brand">
            <a class="navbar-item" href="/home">
                <img th:src="@{/logo}" width="112" height="28">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href ="/home">
                    Accueil
                </a>

                <a class="navbar-item">
                    Documentation
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Consulter les vols
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="../List">
                            Consulter tout les vols
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href ="../Vol/call">
                            Rechercher vol par Callsign
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="../Vol/sol">
                            Rechercher vol au sol et par pays d'origine
                        </a>


                    </div>
                </div>


            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">

                        <a class="button is-primary is-outlined is-inverted" href="../Inscription" th:if="${session.username ==null}">
                            <strong>S'inscrire</strong>
                        </a>

                        <a class="button is-light" href="../Login" th:if="${session.username ==null}">
                            Se connecter
                        </a>
                        <a class="button is-danger" href="../Deconnexion" th:if="${session.username !=null}">
                            Déconnexion
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <h1 class="title has-text-centered m-3">Bienvenue sur notre site de consultation de vol</h1>

    <div class="box mx-6">

        <p class="m-3">
        Sur ce site vous retrouverez les différentes informations sur les vols en cours et à venir. Pour cela veuillez vous inscrire puis vous connecter. Si vous avez déjà un compte veuillez vous connecter.<br>
        Pour toute aide, veuillez vous référer à la documentation.
        </p>
    </div>

<!--
 <section>
        <input id="searchbar"  type="text" name="search">

        <p1></Br> Ceci est un texte à la con pour tester des trucs </Br>Oui</Br>Oui</Br>Oui</p1>
    </section>
-->
    <footer>
        <img th:src="@{/UL}" width=20% height=20% id="UL">

    </footer>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>
