<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="../static/images/logo.png" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                Accueil
            </a>

            <a class="navbar-item">
                Documentation
            </a>
            <a class="navbar-item">
                Consulter les vols
            </a>


        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">

                    <a class="button is-primary" href ="../Inscription"> <!-- ne fonctionne pas je ne sais pas pourquoi-->
                        <strong>S'inscrire</strong>

                    </a>


                    <a class="button is-light" href="../Login"><!-- ne fonctionne pas je ne sais pas pourquoi-->
                        Se connecter
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<h1 class="subtitle"> Bienvenue sur la page d'inscription veuillez entrer les différentes informations ci dessous afin de vous enregistrer sur notre site :</h1>

<div class="block">
    <form method="POST" >
        <div class="container">
        <div class="columns">
            <div class="column">

                <p>Identifiant :</p>
                <input type="text" placeholder="Identifiant" name="username">

            </div>
            <div class="column">

                <p>Mot de passe :</p>
                <input type="password" placeholder="Mot de passe" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Créer</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>